@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        font-family: 'Dosis', sans-serif;
    }

    .page-layout {
        @apply h-auto p-2 md:pb-6 pt-28 md:pt-24 bg-gray-400 dark:bg-gray-900 transform duration-200;
        min-height: 100vh;
    }

    .skill-logo {
        @apply transition transform hover:-translate-y-1 hover:scale-110 duration-700 ease-in-out h-16 w-16 sm:h-20 sm:w-20 md:h-24 md:w-24 rounded-full;
        object-fit: contain;
    }

    .sticky-header {
        @apply bg-blue-700 dark:bg-blue-600 text-white mx-1 py-3 px-8 text-xl font-bold w-full sm:w-11/12 lg:w-4/6 text-center shadow-md;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 20;
        transition: all 0.3s ease-in-out;
    }

    .sticky-header.scrolled {
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    }
}
